/* Estilos generales para la cabecera */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0082;
  color: white;
  padding: 10px 20px;
}

.header .logo img {
  height: 50px;
}

.header .title h1 {
  margin: 0;
}

.header .actions button,
.actions .btn-cerrar-sesion {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.header .actions button:hover,
.actions .btn-cerrar-sesion:hover {
  background-color: rgb(184, 45, 230);
  color: #fff;
  border: rgb(184, 45, 230);
  transform: scale(1.05);
}

/* Estilos para el contenido de administración */
.admin-content {
  padding: 20px;
}

.admin-content h2 {
  margin-top: 0;
}

/* Estilos para la sección de agregar nuevo nivel */
.agregar-nivel {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f3e6f7; /* Color morado claro */
  width: 300px;
  max-width: 100%;
  margin-bottom: 20px;
}

.agregar-nivel label {
  display: block;
  margin-top: 10px;
}

.agregar-nivel input[type="text"],
.agregar-nivel input[type="number"] {
  width: calc(100% - 22px);
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.agregar-nivel input[type="checkbox"] {
  margin: 0 10px 0 0;
}

.agregar-nivel button {
  background-color: #4b0082;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.agregar-nivel button:hover {
  background-color: #3a006b;
}

/* Contenedor de los niveles en tres columnas */
.nivel-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

/* Tarjeta del nivel */
.nivel-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f3e6f7; /* Color morado claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Detalles del nivel */
.nivel-details {
  margin-bottom: 10px;
}

.nivel-details label {
  font-weight: bold;
  display: block;
  margin-top: 10px;
}

.nivel-details span {
  display: block;
  margin-bottom: 5px;
}

/* Acciones del nivel */
.nivel-actions {
  display: flex;
  justify-content: flex-end;
}

.nivel-actions button {
  padding: 8px 16px;
  background-color: #6c5b7b; /* Color morado más oscuro */
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 4px;
}

.nivel-actions button:hover {
  background-color: #8d4c8c; /* Color morado más claro para hover */
}

/* Formulario para agregar nuevo nivel */
.agregar-nivel {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  background-color: #f3e6f7; /* Color morado claro */
  width: 300px;
  max-width: 100%;
  margin-bottom: 20px;
}

/* Estilo de los elementos del formulario de nuevo nivel */
.agregar-nivel label {
  display: block;
  margin-bottom: 5px;
  color: #6c5b7b; /* Color morado oscuro */
}

.agregar-nivel input,
.agregar-nivel textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botón para crear nivel */
.agregar-nivel button {
  padding: 8px 16px;
  background-color: #6c5b7b; /* Color morado más oscuro */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.agregar-nivel button:hover {
  background-color: #8d4c8c; /* Color morado más claro para hover */
}

/* Botón para cancelar la adición de nivel */
.agregar-nivel .cancelar {
  background-color: #f44336; /* Rojo */
}

.agregar-nivel .cancelar:hover {
  background-color: #d32f2f; /* Rojo más oscuro para hover */
}

/* Estilos del Modal */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro para el modal */
  z-index: 1000;
}

/* Contenido del Modal */
.modal-content {
  background-color: #ffffff; /* Fondo blanco para el modal */
  padding: 20px;
  border-radius: 8px; /* Bordes más redondeados */
  width: 90%;
  max-width: 400px; /* Ancho máximo mayor para mejor visualización */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidad */
  position: relative;
}

/* Botón de Cierre */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: #333; /* Color gris oscuro */
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease; /* Transiciones suaves para hover */
}

.close:hover {
  color: #ff5722; /* Color anaranjado claro para hover */
  transform: scale(1.1); /* Aumento del tamaño para efecto de hover */
}

/* Contenido del Modal - Texto */
.modal-content p {
  margin: 0;
  font-size: 16px;
  color: #333; /* Color gris oscuro para el texto */
}

/* Botones en el Modal */
.modal-content button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
  font-weight: bold;
  color: #fff;
  margin: 5px; /* Espacio entre botones */
}

/* Botón Confirmar */
.modal-content button:nth-of-type(1) {
  background-color: #4caf50; /* Verde */
}

.modal-content button:nth-of-type(1):hover {
  background-color: #388e3c; /* Verde más oscuro para hover */
  transform: scale(1.03);
}

/* Botón Cancelar */
.modal-content button:nth-of-type(2) {
  background-color: #f44336; /* Rojo */
}

.modal-content button:nth-of-type(2):hover {
  background-color: #d32f2f; /* Rojo más oscuro para hover */
  transform: scale(1.03);
}

.error {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.info {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}

.radio-group {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  gap: 15px; /* Espacio entre los botones de radio */
}

/* Estilo de los botones de radio */
.radio-group input[type="radio"] {
  width: 16px !important;
  height: 16px !important;
  margin: 0; /* Elimina el margen por defecto */
  vertical-align: middle; /* Alineación vertical del botón de radio */
}

/* Estilo de las etiquetas */
.radio-group label {
  font-size: 16px; /* Tamaño de fuente para las etiquetas */
  margin: 0; /* Elimina el margen por defecto */
  display: flex;
  align-items: center; /* Alineación vertical del texto de la etiqueta */
}

p.copyright {
  font-family: 'Roboto', sans-serif; /* Tipografía Arial */
  font-size: 0.9em; /* Tamaño de fuente más pequeño */
  color: #F0F2F5; /* Color del texto del párrafo */
  position: absolute;
  bottom: 1em; /* Alineación al fondo del contenedor */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar la posición horizontal */
  width: auto; /* Ajustar el ancho automáticamente */
  z-index: 2; /* Asegura que el copyright esté encima de los círculos */
  text-align: center; /* Centrar el texto */
}
