<div class="admin-content">
  <h2>Agregar Juego</h2>
  <div class="agregar-juego">
    <label for="tipo">Tipo:</label>
    <select id="tipo" [(ngModel)]="nuevoJuego.tipo">
      <option value="preguntas">Preguntas</option>
      <option value="memoramas">Memoramas</option>
    </select>

    <label for="contenido">Contenido:</label>
    <textarea id="contenido" [(ngModel)]="nuevoJuego.contenido"></textarea>

    <button (click)="crearJuego()">Agregar Juego</button>
  </div>

  <h2>Lista de Juegos</h2>
  <div *ngFor="let juego of juegos" class="juego-card">
    <div class="juego-details">
      <label>Tipo:</label>
      <select [(ngModel)]="juego.tipo">
        <option value="preguntas">Preguntas
