.juegos-selection {
  text-align: center;
  margin-top: 20px;
}

button {
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6a0dad; /* Usando un tono de púrpura */
  color: white;
}

button:hover {
  background-color: #4a0072;
}
