/* Estilo para el fondo de la página */
body {
  background-color: #F5F5DC; /* Color morado cremita */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif; /* Tipografía base */
}

/* Estilo para el contenedor del formulario */
.container {
  width: 100%;
  max-width: 650px; /* Tamaño del contenedor */
  margin: auto; /* Centrar el contenedor */
  padding: 60px; /* Reducir padding para mejorar el espaciado */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #D1D4E8;
  text-align: center;
  position: relative;
}

/* Estilo para el título del formulario */
h1 {
  color: #663399;
  margin-bottom: 30px; /* Aumentar margen inferior para separación */
  font-size: 2.2em; /* Aumentar tamaño del texto */
}

/* Estilos para los campos de entrada */
.form-group {
  margin-bottom: 15px; /* Aumentar el margen inferior para separar campos */
}

label {
  display: block;
  margin-bottom: 10px; /* Aumentar margen debajo de las etiquetas */
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px; /* Aumentar padding para los campos */
  border: 1px solid #838383;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo para los botones */
button {
  background-color: #6A1B9A; /* Color morado medio */
  color: #ffffff;
  padding: 14px 24px; /* Aumentar padding en los botones */
  border: none;
  border-radius: 30px; /* Botón ovalado */
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 20px; /* Aumentar margen inferior para separación */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: block;
  width: 100%;
}

button:hover {
  background-color: #5a2d7f; /* Un tono más oscuro para el hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
  transform: scale(1.05);
}


/* Estilos para el botón de volver */
.botonVolver {
  position: absolute;
  top: 65px;
  left: 500px; /* Colocar en la esquina superior izquierda del contenedor */
  background-color: #1CC5AE;
  color: #ffffff;
  padding: 5px 8px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em; /* Reducir el tamaño del texto */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  font-weight: 550;
  width: 110px;
  font-family: 'Roboto',cursive;
}

.botonVolver:hover {
  background-color: #17a2b8;
  transform: scale(1.05);
}

/* Estilos para los iconos de redes sociales */
.social-media {
  margin-top: 30px; /* Aumentar margen superior para separación */
}

.social-media a {
  display: inline-block;
  margin: 0 15px; /* Aumentar el margen entre los iconos */
}

.x:hover {
  transform: scale(1.1);
}
.face:hover {
  transform: scale(1.1);
}
.insta:hover {
  transform: scale(1.1);
}

.social-media img {
  width: 30px;
  height: 30px;
}

/* Estilo para el pie de página */
.footer {
  position: absolute;
  bottom: 35px; /* Asegurarse de que esté más cerca del borde */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  color: #690d91;
  font-family: 'Roboto', cursive;
}

/* Estilos para el mensaje de error */
.error-message {
  color: #d9534f; /* Color rojo para el texto de error */
  background-color: #f8d7da; /* Fondo ligeramente rosado */
  border: 1px solid #d9534f; /* Borde rojo */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px; /* Espaciado interno */
  margin-top: 15px; /* Espaciado superior */
  font-size: 14px; /* Tamaño del texto */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centra el texto */
}



