/* Estilo para el contenedor del formulario */
.container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
  position: relative;
}

/* Estilo para el título del formulario */
h1 {
  color: #663399;
  margin-bottom: 20px;
  font-size: 2em;
}

/* Estilos para los campos de entrada */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #1CC5AE;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo para el botón de iniciar sesión */
.btn-login {
  background-color: #6A1B9A; /* Color morado medio */
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 30px; /* Botón ovalado */
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-login:hover {
  background-color: #5a2d7f; /* Un tono más oscuro para el hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
}

/* Estilo para el botón de iniciar sesión como administrador */
.boton{
  background-color: #1CC5AE; /* Color turquesa */
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 30px; /* Botón ovalado */
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  

}

.botonAdmin{
  background-color: #1CC5AE; /* Color turquesa */
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 30px; /* Botón ovalado */
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}



/* Estilos para los iconos de redes sociales */
.social-media {
  margin-top: 20px;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
}

/* Estilo para el pie de página */
.footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5em;
  color: #fefeff;
}
