.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9b59b6;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.logo img {
  height: 40px;
}

.title h1 {
  margin: 0;
  font-size: 24px;
}

.actions {
  display: flex;
  gap: 10px;
}

.btn-volver, .btn-cerrar-sesion {
  background-color: #fff;
  color: #9b59b6;
  border: 1px solid #9b59b6;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-volver:hover, .btn-cerrar-sesion:hover {
  background-color: #9b59b6;
  color: #fff;
}

.nivel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navegacion {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.navegacion button {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.navegacion button.active {
  background-color: #8395C3; /* Color turquesa agradable */
  color: white;
}

.navegacion button:hover {
  background-color: #bbb;
  color: white;
}

/* Estilos para el contenido de los temas */
.tema-content {
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  text-align: left;
}

.tema-content h3 {
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.tema-content p, .tema-content ul {
  color: #555;
  line-height: 1.6;
  text-align: justify;
}

.tema-content ul {
  list-style-type: disc;
  padding-left: 20px;
}

.tema-content li {
  margin-bottom: 5px;
}

.tema-content h4 {
  color: #444;
  margin-top: 15px;
  margin-bottom: 5px;
}

/* Estilos para el botón de ir a preguntas */
.btn-preguntas {
  background-color: #8395C3; /* Color turquesa agradable */
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.btn-preguntas:hover {
  background-color: #1CC5AE; /* Un tono más oscuro al pasar el mouse */
}
