<div class="header">
  <div class="logo">
    <img src="assets/logo.jpg" alt="Logo">
  </div>
  <div class="title">
    <h1>Velarys</h1>
  </div>
  <div class="actions">
    <button (click)="volver()" class="btn-volver">Volver</button>
    <button (click)="cerrarSesion()" class="btn-cerrar-sesion">Cerrar Sesión</button>
  </div>
</div>

<!-- Mensaje de Bienvenida -->
<div class="bienvenida">
  <h2>¡Bienvenido a Velarys!</h2>
  <p>Estamos encantados de que te unas a nuestro curso de inglés. Aquí encontrarás una serie de niveles diseñados para ayudarte a mejorar tu habilidad en el idioma.</p>
  <p>Explora los niveles disponibles y elige el que mejor se adapte a tus necesidades. ¡Vamos a aprender juntos!</p>
</div>

<!-- Contenido del Nivel -->
<div class="content">
  <div class="niveles">
    <div class="nivel" *ngFor="let nivel of niveles">
      <h2>{{ nivel.nombre }}</h2>
      <p>{{ nivel.descripcion }}</p>
      <p>Status: {{ nivel.esDePaga ? 'De Paga' : 'Gratis' }}</p>
      <button *ngIf="nivel.acceso" class="btn-acceder" (click)="irAlNivel(nivel.id)">
        Acceder
      </button>
      <button *ngIf="!nivel.acceso && nivel.esDePaga" class="btn-pagar" (click)="realizarPago(nivel.id)">
        Pagar {{ nivel.precio | currency }}
      </button>
      <div *ngIf="nivel.esDePaga && !nivel.acceso" class="pago">
        <p>Precio: {{ nivel.precio }} USD</p>
        <button class="btn-pagar" (click)="realizarPago(nivel.id)">Realizar Pago</button>
      </div>
    </div>
  </div>
</div>
