<!-- Header -->
<div class="header">
  <div class="logo">
    <img src="assets/logo.jpg" alt="Logo">
  </div>
  <div class="title">
    <h1>Lecciones Velarys</h1>
  </div>
  <div class="actions">
    <button (click)="volver()" class="btn-cerrar-sesion">Volver</button>
  </div>
</div>

<!-- Barra de búsqueda -->
<div class="search-container">
  <h2>Buscar Recursos de Idiomas</h2>
  <div class="gcse-search"></div>
</div>

<!-- Encabezado -->
<div class="encabezado">
  <h2>Bienvenido a las lecciones</h2>
</div>

<div class="lecciones-container">
  <!-- Carrusel de lecciones -->
  <div class="leccion-carousel">
    <button class="botones" (click)="anteriorLeccion()" [disabled]="indiceActual === 0">Anterior</button>

    <div *ngIf="lecciones.length > 0">
      <div class="leccion-item">
        <h2>{{ lecciones[indiceActual].nombre }}</h2>
        <p>{{ lecciones[indiceActual].contenido }}</p>
        <button *ngIf="lecciones[indiceActual].id !== undefined" (click)="verJuegos(lecciones[indiceActual].id)">
          Ver Juegos
        </button>
        <!-- Botón Ayuda -->
        <button *ngIf="lecciones[indiceActual].id !== undefined" (click)="mostrarAyuda()" class="btn-ayuda">
          Apoyo visual
        </button>
        <button *ngIf="lecciones[indiceActual].id !== undefined" (click)="apoyoAuditivo()" class="btn-apoyo-auditivo">
          Apoyo Auditivo
        </button>
      </div>
    </div>
    <button class="botones" (click)="siguienteLeccion()" [disabled]="indiceActual === lecciones.length - 1">Siguiente</button>
  </div>

<!-- Mostrar lista de videos -->
<div *ngIf="videos.length > 0" class="video-list">
  <h3>Videos de ayuda</h3>
  <div class="video-container" *ngFor="let video of videos">
    <iframe [src]="getSafeUrl(video.id.videoId)" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<!-- Mostrar lista de canciones de Spotify -->
<div *ngIf="canciones.length > 0" class="audio-list">
  <h3>Canciones relacionadas</h3>
  <div class="audio-container" *ngFor="let audio of canciones">
    <p><strong>{{ audio.name }}</strong> - {{ audio.artist }}</p>
    <audio controls *ngIf="audio.preview_url">
      <source [src]="audio.preview_url" type="audio/mpeg">
      Tu navegador no soporta la reproducción de audio.
    </audio>
    <a *ngIf="audio.spotify_url" [href]="audio.spotify_url" target="_blank">Abrir en Spotify</a>
  </div>
</div>
