.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0082;
  color: white;
  padding: 10px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0082;
  color: white;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
}

.title h1 {
  margin: 0;
  font-size: 40px;
}

.encabezado {
  text-align: center;
  margin: 20px 0;
}

.encabezado h2 {
  color: #8b1d99;
  margin: 0;
  font-size: 40px;
}

.encabezado p {
  margin: 10px 0;
  font-size: 18px;
}

.actions .btn-cerrar-sesion {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.actions .btn-cerrar-sesion:hover {
  background-color: rgb(184, 45, 230);
  color: #fff;
  border: rgb(184, 45, 230);
  transform: scale(1.05);
}

.cursos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas en cada fila */
  gap: 40px; /* Aumenta el espacio entre las tarjetas */
  margin: 20px auto;
  max-width: 1200px;
  justify-content: center;
}

.curso-card {
  border: 3.5px solid #79038b;
  background-color: #ffffff; /* Fondo blanco */
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%; /* Asegura que ocupe todo el espacio disponible en la celda */
  max-width: 300px; /* Tamaño máximo */
  box-sizing: border-box; /* Incluye el padding y border en el width */
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.curso-card:hover {
  background-color: #e5d0f5; /* Cambio de color al pasar el mouse */
  transform: scale(1.02);
}

.curso-card h3 {
  margin-top: 0;
  color: #6206a3;
  font-size: 36px;
}

.curso-card p {
  margin: 5px 0;
  font-size: 18px;
}


.curso-actions {
  display: flex;
  justify-content: center;
}

.curso-actions button {
  padding: 8px 16px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 4px;
}

.btn-pagar {
  background-color: #da9e14;
}

.btn-pagar:hover {
  background-color: #8829b5;
}

.btn-leccion {
  background-color: #345ee8;
}

.btn-leccion:hover {
  background-color: #800cd2;
}

.curso-actions .disabled {
  background-color: #d78c8c;
  cursor: not-allowed;
}

.container {
  margin-top: auto;
  text-align: center;
  padding: 10px 0;
  color: #4b0082; /* Color morado para el texto */
  font-size: 14px; /* Ajusta el tamaño del texto según sea necesario */
}

.container p {
  margin: 0; /* Elimina el margen por defecto */
}

/* Estilos para el modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-confirmar,
.btn-cancelar {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-confirmar {
  background-color: #5cb85c;
  color: #fff;
}

.btn-cancelar {
  background-color: #d9534f;
  color: #fff;
}
.btn-paises {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
}

.btn-paises:hover {
  background-color: #0056b3;
}

