/* Estilos para el formulario */
.formulario {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #D1D4E8;
  text-align: center;
  position: relative;
}

/* Estilo para el título del formulario */
.form_titulo {
  color: #663399;
  margin-bottom: 20px;
  font-size: 2em;
}

/* Estilos para los campos de entrada */
.form_input {
  width: 100%;
  padding: 10px;
  border: 1px solid #838383;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

/* Estilo para los placeholders */
.form_input::placeholder {
  color: #aaa; /* Color de los placeholders */
  font-size: 0.9em; /* Tamaño de letra de los placeholders */
}

/* Estilo para las etiquetas */
.form_label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  visibility: hidden; /* Ocultar las etiquetas pero mantener su espacio */
}

/* Estilo para el texto de edad */
.edad-container {
  position: relative;
}

.edad-label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 1em;
  text-align: left;
  padding-left: 10px;
}

.edad-text {
  color: #666;
  font-size: 0.8em;
  margin-top: 5px;
  padding-left: 10px;
}

/* Estilo para el botón de envío */
.form_boton {
  background-color: #663399;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Roboto',cursive;
}

.form_boton:hover{
  background-color:#1CC5AE;
  transform: scale(1.05);
}

/* Estilos para el botón de Volver */
.btn-volver {
  position: absolute;
  top: 24px;
  right: 20px;
  background-color: #1CC5AE;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  font-family: 'Roboto',cursive;
}

.btn-volver:hover {
  background-color: #17a2b8;
  transform: scale(1.05);
}
