<form class="formulario" (ngSubmit)="onSubmit()">
  <!-- Botón de Volver en la parte superior derecha -->
  <button type="button" class="btn-volver" (click)="onVolver()">&#9664; Volver</button>

  <h1 class="form_titulo">Registro</h1>

  <!-- Mensaje de éxito o error -->

  <input type="text" class="form_input" placeholder="Nombres" [(ngModel)]="user.nombres" name="nombres" required>
  <label class="form_label">Nombres</label>

  <input type="text" class="form_input" placeholder="Apellidos" [(ngModel)]="user.apellidos" name="apellidos" required>
  <label class="form_label">Apellidos</label>

  <input type="email" class="form_input" placeholder="Correo Electrónico" [(ngModel)]="user.correo" name="correo" required email>
  <label class="form_label">Correo Electrónico</label>

  <div class="edad-container">
    <label class="edad-label">Edad</label>
    <input type="number" class="form_input" placeholder="Edad" [(ngModel)]="user.edad" name="edad" required min="1">
  </div>

  <select class="form_input" [(ngModel)]="user.sexo" name="sexo" required>
    <option value="" disabled selected>Selecciona tu sexo</option>
    <option value="Masculino">Masculino</option>
    <option value="Femenino">Femenino</option>
    <option value="Otro">Otro</option>
  </select>
  <label class="form_label">Sexo</label>

  <input type="password" class="form_input" placeholder="Contraseña" [(ngModel)]="user.contrasena" name="contrasena" required>
  <label class="form_label">Contraseña</label>

  <input type="password" class="form_input" placeholder="Confirmar Contraseña" [(ngModel)]="user.confirmarContrasena" name="confirmarContrasena" required>
  <label class="form_label">Confirmar Contraseña</label>

   <!-- Mensaje de éxito o error -->
  <div *ngIf="mensaje" class="mensaje" [ngClass]="{'mensaje-exito': mensaje.includes('Registro exitoso'), 'mensaje-error': mensaje.includes('Error')}">
    {{ mensaje }}
  </div>

  <button type="submit" class="form_boton">Registrar</button>
</form>
