<!-- welcome.component.html -->

<div class="container">
  <h1>BIENVENIDO</h1>
  <h2>VELARYS</h2>
  <p class="intro">NOS ALEGRA QUE HAYAS DECIDIDO APRENDER ALGÚN IDIOMA,<br>
  ESPERAMOS QUE TE DIVIERTAS Y APRENDAS CON NOSOTROS.</p>
  <button (click)="inicio()">COMENZAR YA</button>
  <p class="copyright">&copy; 2024 Velarys. Todos los derechos reservados.</p>
</div>

<div class="main-container">
  <div class="welcome-container">
    <h1>Bienvenido(a) a Velarys</h1>
    <p>Explora los idiomas que ofrecemos y comienza tu aprendizaje hoy.</p>
  </div>
  <div class="iframe-bubble">
    <iframe
      src="https://www.chatbase.co/chatbot-iframe/1atxjgo2H3lWEWwTm0r_5"
      class="styled-iframe"
      frameborder="0"
    ></iframe>
  </div>
</div>