/* Estilos generales para el cuerpo */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #9C6FBD;
  color: #F0F2F5;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

/* Estilos para el contenedor principal y los contenedores hijos */
.container, .container .container, .container .container .container {
  background-color: #6F42C1;
  color: #F0F2F5;
  text-align: center;
  border-radius: 15px;
  padding: 5em 6em;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* Para los contenedores hijos, reducimos ligeramente el tamaño y opacidad */
.container .container {
  padding: 4em 5em;
  background-color: rgba(111, 66, 193, 0.9);
}

.container .container .container {
  padding: 3em 4em;
  background-color: rgba(111, 66, 193, 0.8);
}

/* Círculos blancos esparcidos por los contenedores */
.container::before, .container .container::before, .container .container .container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(231, 165, 235, 0.147) 25%, transparent 25%);
  background-size: 10% 10%;
  background-repeat: repeat;
  z-index: 1;
}

/* Círculos blancos no deben aparecer sobre el texto */
h1, h2, p.intro, p.copyright {
  position: relative;
  z-index: 2;
}

/* Estilo para el título principal y su variación en contenedores hijos */
h1, .container h1, .container .container h1 {
  font-family: 'Roboto', cursive;
  font-size: 5em;
  margin-bottom: 0.5em;
  color: #F0F2F5;
  text-shadow: 10px 10px 20px #000;
  letter-spacing: 0.08em;
  font-weight: 550;
}

.container h1 {
  font-size: 4em;
}

.container .container h1 {
  font-size: 3em;
}

/* Estilo para el subtítulo y su variación en contenedores hijos */
h2, .container h2, .container .container h2 {
  font-family: 'Raleway', cursive;
  font-size: 4em;
  margin-bottom: 0.7em;
  color: #F0F2F5;
  text-shadow: 8px 8px 15px #000;
  font-weight: 550;
}

.container h2 {
  font-size: 3em;
}

.container .container h2 {
  font-size: 2em;
}

/* Estilo para los párrafos y su variación en contenedores hijos */
p, .container p, .container .container p {
  font-family: 'Roboto', cursive;
  font-size: 1.1em;
  margin-bottom: 2em;
  line-height: 1.6;
  color: #D1E8E2;
}

.container p {
  font-size: 1em;
}

.container .container p {
  font-size: 0.9em;
}

/* Estilo para el párrafo de introducción y su variación en contenedores hijos */
p.intro, .container p.intro, .container .container p.intro {
  font-family: 'Roboto', cursive;
  font-size: 1.9em;
  margin-bottom: 2em;
  color: #F0F2F5;
  font-weight: 700;
}

.container p.intro {
  font-size: 1.6em;
}

.container .container p.intro {
  font-size: 1.4em;
}

/* Estilo para el párrafo de derechos reservados y su variación en contenedores hijos */
p.copyright, .container p.copyright, .container .container p.copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  color: #F0F2F5;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  z-index: 2;
  text-align: center;
}

.container p.copyright {
  font-size: 0.8em;
}

.container .container p.copyright {
  font-size: 0.7em;
}

/* Estilo para los botones y su variación en contenedores hijos */
button, .container button, .container .container button {
  font-family: 'Roboto', cursive;
  background-color: #f5e2fc;
  color: #1A7B8A;
  border: none;
  padding: 1em 2.5em;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-bottom: 2em;
  z-index: 3;
  position: relative;
  font-weight: 999;
}

.container button {
  font-size: 1.3em;
  padding: 0.9em 2em;
}

.container .container button {
  font-size: 1.1em;
  padding: 0.8em 1.8em;
}

/* Estilo para el estado hover de los botones */
button:hover, .container button:hover, .container .container button:hover {
  background-color: #1A7B8A;
  color: #F0F2F5;
  transform: scale(1.05);
}

/* Estilo para ocultar los círculos entre las 4 PM y 7 PM */
.hide-circles {
  background: none !important;
}

