<div class="header">
  <h1>Administración de Preguntas</h1>
  <button class="volver-button" (click)="volver()">Volver</button>
</div>

<!-- Sección para crear una nueva pregunta -->
<div *ngIf="!editing">
  <h2>Crear Nueva Pregunta</h2>
  <form (ngSubmit)="createPregunta()">
    <div *ngIf="formErrors['general']" class="error">
      <p>{{ formErrors['general'] }}</p>
    </div>

    <label for="texto">Texto:</label>
    <input type="text" id="texto" [(ngModel)]="pregunta.texto" name="texto" maxlength="255" required>
    <div *ngIf="formErrors['texto']" class="error">
      <p>{{ formErrors['texto'] }}</p>
    </div>

    <label for="opciones">Opciones:</label>
    <div *ngFor="let opcion of pregunta.opciones; let i = index" style="margin-bottom: 20px;">
      <input type="text" [(ngModel)]="opcion.texto" name="opcionTexto{{i}}" maxlength="255" placeholder="Texto de la opción" required>
      <div *ngIf="formErrors['opcionTexto' + i]" class="error">
        <p>{{ formErrors['opcionTexto' + i] }}</p>
      </div>
      <label>
        <input
          type="radio"
          [(ngModel)]="pregunta.respuesta_correcta"
          [value]="opcion.texto"
          name="respuestaCorrecta"
          (change)="onCorrectOptionChange(opcion)"
        />
        Seleccionar como respuesta correcta
      </label>
      <button type="button" (click)="removeOpcion(i)" style="margin-left: 10px;">Eliminar Opción</button>
    </div>
    <button type="button" (click)="addOpcion()">Añadir Opción</button>

    <button type="submit" [disabled]="pregunta.opciones.length === 0">Guardar</button>
  </form>

  <h2>Listado de Preguntas</h2>
  <div class="preguntas-container">
    <ul>
      <li *ngFor="let pregunta of preguntas">
        <span class="pregunta-texto">{{ pregunta.texto }}</span>
        <button (click)="viewPregunta(pregunta.id!)">Editar</button>
        <button (click)="deletePregunta(pregunta.id!)">Eliminar</button>
      </li>
    </ul>
  </div>
</div>

<!-- Sección para editar una pregunta -->
<div *ngIf="editing">
  <h2>Editar Pregunta</h2>
  <form (ngSubmit)="updatePregunta()">
    <div *ngIf="formErrors['general']" class="error">
      <p>{{ formErrors['general'] }}</p>
    </div>

    <label for="texto">Texto:</label>
    <input type="text" id="texto" [(ngModel)]="pregunta.texto" name="texto" maxlength="255" required>
    <div *ngIf="formErrors['texto']" class="error">
      <p>{{ formErrors['texto'] }}</p>
    </div>

    <label for="opciones">Opciones:</label>
    <div *ngFor="let opcion of pregunta.opciones; let i = index" style="margin-bottom: 20px;">
      <input type="text" [(ngModel)]="opcion.texto" name="opcionTexto{{i}}" maxlength="255" placeholder="Texto de la opción" required>
      <div *ngIf="formErrors['opcionTexto' + i]" class="error">
        <p>{{ formErrors['opcionTexto' + i] }}</p>
      </div>
      <label>
        <input
          type="radio"
          [(ngModel)]="pregunta.respuesta_correcta"
          [value]="opcion.texto"
          name="respuestaCorrecta"
          (change)="onCorrectOptionChange(opcion)"
        />
        Seleccionar como respuesta correcta
      </label>
      <button type="button" (click)="removeOpcion(i)" style="margin-left: 10px;">Eliminar Opción</button>
    </div>
    <button type="button" (click)="addOpcion()">Añadir Opción</button>

    <button type="submit" [disabled]="pregunta.opciones.length === 0">Actualizar</button>
    <button type="button" (click)="cancelarEdicion()">Cancelar</button>
  </form>
</div>

<!-- Modal de Confirmación -->
<div *ngIf="mostrarModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <p>{{ mensajeModal }}</p>
    <button (click)="confirmarAccion()">Confirmar</button>
    <button (click)="cerrarModal()">Cancelar</button>
  </div>
</div>
