/* General Styles for the Idiomas Component */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0082;
  color: white;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

.header .logo img {
  height: 50px;
}

.header .title h1 {
  margin: 0;
}

.header .actions button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.header .actions button:hover {
  background-color: white;
  color: #4b0082;
}

/* Welcome Message Styles */
.bienvenida {
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
}

.bienvenida h2 {
  color: #4b0082;
  margin-bottom: 10px;
}

.bienvenida p {
  color: #333;
}

/* Languages Styles */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
}

.idiomas {
  display: flex; /* Align languages in a horizontal row */
  flex-wrap: wrap; /* Allow languages to wrap if there are more than one row */
  gap: 20px; /* Space between languages */
  justify-content: center; /* Center the languages horizontally */
}

.idioma {
  background-color: white;
  border: 2px solid #4b0082;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
  transition: background-color 0.3s ease; /* Smooth transition of background color */
}

/* Style when hovering over the .idioma container */
.idioma:hover {
  background-color: #d5d1f3; /* Background color on hover */
}

.idioma h2 {
  margin: 0;
  color: #4b0082;
}

.idioma p {
  color: #666;
}

.idioma .btn-seleccionar {
  background-color: #1CC5AE;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.idioma .btn-seleccionar:hover {
  background-color: #17a89b; /* Darker shade for hover */
}
