<div class="header">
  <div class="logo">
    <img src="assets/logo.jpg" alt="Logo">
  </div>
  <div class="title">
    <h1>Lecciones del Nivel</h1>
  </div>
  <div class="actions">
    <button (click)="volver()" class="btn-cerrar-sesion">Volver</button>
  </div>
</div>

<!-- Modal de Confirmación -->
<div class="modal" *ngIf="mostrarModal">
  <div class="modal-content">
    <span class="close" (click)="cerrarModal()">&times;</span>
    <p>{{ mensajeModal }}</p>
    <button (click)="confirmarAccion()">Confirmar</button>
    <button (click)="cerrarModal()">Cancelar</button>
  </div>
</div>

<div class="admin-content">
  <h2>Gestión de Niveles</h2>

  <!-- Formulario de agregar/editar lección -->
  <div class="agregar-leccion">
    <h3 *ngIf="!leccionEditada">Agregar Lección</h3>
    <h3 *ngIf="leccionEditada">Editar Lección</h3>
    <form [formGroup]="leccionEditada ? leccionEditadaForm : nuevaLeccionForm" (ngSubmit)="leccionEditada ? editarLeccion() : crearLeccion()">
      <label>Nombre:</label>
      <input formControlName="nombre" type="text" />
      <label>Contenido:</label>
      <textarea formControlName="contenido"></textarea>
      <button type="submit">{{ leccionEditada ? 'Actualizar Lección' : 'Crear Lección' }}</button>
      <button type="button" *ngIf="leccionEditada" (click)="cancelarEdicion()">Cancelar</button>
    </form>
    <div class="error" *ngIf="errorMensaje">{{ errorMensaje }}</div>
  </div>

  <h2>Listado de Lecciones</h2>

  <!-- Tarjeta de lección -->
  <div class="leccion-card" *ngFor="let leccion of lecciones">
    <div class="leccion-details">
      <label>Nombre:</label>
      <span>{{ leccion.nombre }}</span>
      <label>Contenido:</label>
      <span>{{ leccion.contenido }}</span>
    </div>
    <div class="leccion-actions">
      <button (click)="seleccionarLeccion(leccion)">Editar</button>
      <button *ngIf="leccion.id !== undefined" (click)="eliminarLeccion(leccion.id!)">Eliminar</button>
      <button (click)="verJuegos(leccion)">Ver Juegos</button>
    </div>
  </div>
</div>
