.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4b0082;
  color: white;
  padding: 10px 20px;
}

.header .logo img {
  height: 50px;
}

.header .title h1 {
  margin: 0;
}

.header .actions button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.header .actions button:hover {
  background-color: rgb(184, 45, 230);
  color: #fff;
  border: rgb(184, 45, 230);
  transform: scale(1.05);
}

.info-message {
  background-color: #f3f0ff; /* Fondo púrpura claro */
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto;
  max-width: 80%;
  text-align: center;
  font-size: 16px;
  color: #333;
}

.juegos-selection {
  text-align: center;
  margin-top: 20px;
}

.juegos-selection h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #4b0082; /* Color de título */
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los botones */
}

.buttons-container button {
  font-size: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #8a2be2; /* Fondo púrpura vibrante */
  color: white;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para destacar el botón */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons-container button:hover {
  background-color: #6a0dad; /* Fondo púrpura oscuro */
  transform: scale(1.05); /* Efecto de ampliación */
}
