<div class="header">
  <div class="logo">
    <img src="assets/logo.jpg" alt="Logo">
  </div>
  <div class="title">
    <h1>Juegos</h1>
  </div>
  <div class="actions">
    <button (click)="volver()" class="btn-cerrar-sesion">Volver</button>
  </div>
</div>

<div class="info-message">
  <p>¡Bienvenido! Elige un juego para empezar a divertirte. Cada juego está diseñado para ayudarte a mejorar tus habilidades y disfrutar mientras aprendes.</p>
</div>

<div class="juegos-selection">
  <h1>Selecciona un juego</h1>
  <div class="buttons-container">
    <button (click)="seleccionarJuego('preguntas')">Preguntas</button>
    <button (click)="seleccionarJuego('memorama')">Memorama</button>
  </div>
</div>
