<div class="user-content" *ngIf="!isFinished">
  <h2 class="pregunta-texto">{{ shuffledQuestions[currentIndex].texto }}</h2>

  <form [formGroup]="preguntasForm" (ngSubmit)="guardarRespuesta()">
    <div formArrayName="opciones" class="opciones-container">
      <div *ngFor="let opcionControl of opciones.controls; let i = index" class="opcion-item">
        <label>
          <input
            type="radio"
            [formControlName]="i.toString()"
            [value]="opcionControl.value"
          />
          {{ opcionControl.value }}
        </label>
      </div>
    </div>
    <button type="submit" class="submit-btn">Siguiente</button>
  </form>
</div>

<div *ngIf="isFinished" class="final-message">
  <h2>¡Has completado todas las preguntas!</h2>
</div>
