.pregunta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
    background-color: #8395C3; /* Fondo de la página con color azul lavanda */
  }
  
  .pregunta-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border: 2px solid #0E455C; /* Borde azul oscuro */
    border-radius: 10px;
    background-color: #D1D4E8; /* Fondo de la caja gris claro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la caja */
    text-align: center; /* Centrar texto dentro de la caja */
  }
  
  .pregunta-box img {
    max-width: 100%;
    max-height: 300px; /* Limitar la altura de la imagen */
    width: auto;
    height: auto;
    object-fit: cover; /* Ajustar la imagen sin distorsión */
    margin-bottom: 20px;
    border: 1px solid #1A7B8A; /* Borde de la imagen con color verde azulado */
    border-radius: 5px;
  }
  
  .pregunta-box p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #0E455C; /* Color de texto azul oscuro */
  }
  
  .pregunta-box form {
    width: 100%;
  }
  
  .pregunta-box label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    color: #1A7B8A; /* Color de texto de las opciones verde azulado */
  }
  
  .pregunta-box button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #1CC5AE; /* Color de fondo del botón verde aqua */
    color: #fff; /* Color del texto del botón blanco */
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .pregunta-box button[disabled] {
    background-color: #aaa; /* Color de fondo del botón deshabilitado */
    cursor: not-allowed; /* Cambia el cursor para mostrar que no se puede hacer clic */
  }
  
  .pregunta-box button:not([disabled]):hover {
    background-color: #1A7B8A; /* Color del botón al pasar el ratón por encima verde azulado */
  }
  
  .pregunta-box button:not([disabled]):focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(28, 197, 174, 0.5); /* Sombra al hacer foco en el botón */
  }
  